body {
    min-width: 400px;
    min-height: 400px;
}

.popup-padded {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.horizontal-padded {
    padding-top: 10px;
    padding-bottom: 10px;
}

.margin-horizontal {
    margin-left: 5px;
}

.smaller-font {
    font-size: 14px;
}